/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #121212;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 50px;

  &__logo {
    width: 100%;
    max-width: 920px;
  }

  &__text {
    font-weight: 300;
    margin: 2rem 0;
  }
}

.footer {
  background-color: #2c2c2c;
  margin-top: 100px;
  padding: 1rem;

  &__text {
    text-align: center;
  }
}

.movie {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__card {
    flex: 0 0 calc(25% - 0.75rem);
    max-width: calc(25% - 0.75rem);
    box-sizing: border-box;
    background-color: #272727;
    border-radius: 12px;

    &:hover {
      transform: scale(1.03);
    }

    &-info {
      margin: 15px 0;
    }

    &-genre {
      padding: 10px;
    }

    &-rating {
      background-color: #141414;
      border-radius: 50px;
      margin: 0 auto;
      font-size: 0.9rem;
      padding: 3px 10px;
      width: 50px;
      &--good {
        color: greenyellow;
      }
      &--ok {
        color: orange;
      }
      &--bad {
        color: red;
      }
    }

    @media (max-width: 481px) {
      flex: 0 0 calc(33.33% - 0.75rem);
      max-width: calc(33.33% - 0.75rem);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

.input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 0.6rem;
  border: 3px solid lightgrey;
  border-radius: 30px;
}

.filter {
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-bottom: 2rem;

  &__slot {
    background-color: #2c2c2c;
    padding: 25px;
    margin: 10px;
    border-radius: 50px;
    gap: 30px;
  }

  &__label {
    margin-right: 15px;
  }
}

nav {
  margin-top: 50px;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

nav a:hover {
  background-color: #e7f2f1;
  color: black;
}
