/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #121212;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 50px;

  &__logo {
  width: 100%;
  max-width: 920px;

  }

  &__text {
    font-weight: 300;
  }
}

.footer {
  background-color: #2c2c2c;
  margin-top: 100px;
  padding: 1rem;

  &__text {
    text-align: center;
  }
}

.movie {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__card {
    flex: 0 0 calc(25% - 0.75rem);
    max-width: calc(25% - 0.75rem);
    box-sizing: border-box;
    background-color: #272727;
    border-radius: 12px;

  &:hover {
    transform: scale(1.03);
  }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    padding: 20px;
  }
}