/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #121212;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 50px;
}

.footer {
  background-color: #2c2c2c;
  margin-top: 100px;
  padding: 1rem;

  &__text {
    margin-top: 100px;
  }
}